body {
  margin: 0;
  height: 100vh;
}

.dashboard {
  position: relative;
  height: 100%;
  background-color: #0033cc; /* Azul rey oscuro */
  overflow: hidden;
}

.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background-color: white; /* Triángulo blanco */
  z-index: 1;
}

.dashboard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.dashboard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background-color: #0033cc; /* Azul rey oscuro */
  z-index: 0;
}

.line-red {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px; /* Grosor de la línea roja */
  width: 100%;
  background-color: red;
  z-index: 3; /* Asegura que la línea roja esté por encima */
}

.line-white {
  position: absolute;
  top: 4px; /* Ajuste para que esté justo debajo de la línea roja */
  left: 0;
  height: 4px; /* Grosor de la línea blanca */
  width: 100%;
  background-color: white;
  z-index: 3; /* Asegura que la línea blanca esté por encima */
}
